autostart/**
btop/**
cubelify-overlay/**
dconf/**
discord/**
Electron/**
fontconfig/**
gedit/**
go/**
google-chrome/**
gtk-3.0/**
gtk-4.0/**
htop/**
kate/**
KDE/**
kdedefaults/**
kde.org/**
libaccounts-glib/**
libreoffice/**
lunarclient/**
MuseScore/**
neofetch/**
obsidian/**
OpenRGB/**
ow-electron/**
pulse/**
session/**
systemd/**
xsettingsd/**
yay/**
baloofilerc
bluedevilglobalrc
gtkrc
gtkrc-2.0
Hyprland-xdg-terminals.list
kactivitymanagerdrc
kactivitymanagerd-statsrc
kate-externaltoolspluginrc
katerc
katevirc
kcminputrc
kconf_updaterc
kded5rc
kded6rc
kdeglobals
kglobalshortcutsrc
konsolerc
konsolesshconfig
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kxkbrc
modcheck.json
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
PlasmaUserFeedback
plasma-welcomerc
powermanagementprofilesrc
QtProject.conf
spotify-launcher.conf
Trolltech.conf
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
